<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-icons/font-awesome.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<link rel="icon" href="favicon.png">
<meta name="theme-color" content="#3D5AFE">
</head>

<body>
    <!--This is the header-->
    <nav>
        <div id="logout">
        {% if session.logged_in %}
            <a href="{{ url_for('main.logout') }}">
            <h1><i aria-hidden="true" class="fa fa-sign-out"></i></h1></a>
        {% else %}
            <a href="{{ url_for('main.login') }}">
            <h1><i aria-hidden="true" class="fa fa-sign-in"></i></h1></a>
        {% endif %}
        </div>

        <div id="logo">
            <h1><i aria-hidden="true" class="fa fa-check-square-o"></i> Your To Do list</h1>
        </div>
    </nav>

    {% if session.logged_in %}
    <!--Add new card button-->
    <div id="button-container">
        <a href="#new"><button class="button">+</button></a>
    </div>
    
    <!--New Card popup box-->
    <div class="overlay" id="new">
        <div class="popup">
            <div id="title-new">
                <p>New note</p>
            </div>
                <!--X close icon-->
            <a class="close" href="#">&times;</a>
           <!--This is where the form starts-->
            <form action="{{ url_for('main.newnote') }}" method="post">
                <!--Card title-->
                <div id="title-on-card">
                    <input name="title" placeholder="Title" type="text" required>
                </div>
                <!--Body text in card-->
                <div id="message-on-card">
                    <textarea input name="content" placeholder="What to do?" type="textarea"></textarea>
                </div>
                <!--Note colors-->
                <div id="colors">
                    <input id="white" name="color" type="radio" value="white" checked="checked"> <label for="white"><span class="white"></span></label>
                    <input id="red" name="color" type="radio" value="red"> <label for="red"><span class="red"></span></label> 
                    <input id="orange" name="color" type="radio" value="orange"> <label for="orange"><span class="orange"></span></label> 
                    <input id="yellow" name="color" type="radio" value="yellow"> <label for="yellow"><span class="yellow"></span></label> 
                    <input id="grey" name="color" type="radio" value="grey"> <label for="grey"><span class="grey"></span></label> 
                    <input id="blue" name="color" type="radio" value="blue"> <label for="blue"><span class="blue"></span></label> 
                    <input id="teal" name="color" type="radio" value="teal"> <label for="teal"><span class="teal"></span></label> 
                    <input id="green" name="color" type="radio" value="green"> <label for="green"><span class="green"></span></label>
                </div>
                <div id="submit">
                    <input type="submit" value="Save">
                </div>
            </form>
            <!--This is where the form ends-->
        </div>
    </div>
<!--New Card popup box ends here-->

<!--All the tasks will be in the tasks id-->
<div id="tasks">
    {% for note in notes %}
    <!--All the tasks have a class after their chosen color-->
    <div class="{{ note[2] }}" id="task">
        <input type="hidden" name="note_id" value="{{ note[3] }}">
        <span class="delete"><button type="button"><span class="delete"><i aria-hidden="true" class="fa fa-trash"></i></span>
        </button>
        </span> <span class="edit"><button type="button"><span class="edit"><i aria-hidden="true" class="fa fa-pencil"></i></span>
        </button>
        </span> <span class="title">{{ note[0] }}</span>
        <span class="message">{{ note[1] }}</span>
    </div>
    {% else %}
    <p>no notes..</p>
    {% endfor %}
</div>
{% endif %}

</body>
</html>
