<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-icons/font-awesome.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<link rel="icon" href="favicon.png">
<meta name="theme-color" content="#3D5AFE">
<meta http-equiv="cache-control" content="max-age=0" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="0" />
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
<meta http-equiv="pragma" content="no-cache" />
</head>

<body>
    <!--This is the header-->
    <nav>
        <div id="menu">
        <span class="logout">
        {% if session.logged_in %}
            <a href="{{ url_for('main.logout') }}">
            Logout</a>
        {% else %}
            <a href="{{ url_for('main.login') }}">
            Logout</a>
        {% endif %}
        </span>
        <span class="archive">
            <a href="{{ url_for('main.archive') }}">Archive</a>
        </span>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        </div>


        <div id="logo">
            <h1><i aria-hidden="true" class="fa fa-check-square-o"></i> Your To Do list</h1>
        </div>
    </nav>

    {% if session.logged_in %}
    <!--Add new card button-->
    <div id="button-container">
        <a href="#new"><button class="button">+</button></a>
    </div>
    
    <!--New Card popup box-->
    <div class="overlay" id="new">
        <div class="popup">
            <div id="title-new">
                <p>New note</p>
            </div>
                <!--X close icon-->
            <a class="close" href="#">&times;</a>
           <!--This is where the form starts-->
            <form action="{{ url_for('main.newnote') }}" method="post">
                <!--Card title-->
                <div id="title-on-card">
                    <input name="title" placeholder="Title" type="text" maxlength="200" required>
                </div>
                <!--Body text in card-->
                <div id="message-on-card">
                    <textarea input name="content" placeholder="What to do?" type="textarea"></textarea>
                </div>
                <!--Note colors-->
                <div id="colors">
                    <input id="white" name="color" type="radio" value="white" checked="checked"> <label for="white"><span class="white"></span></label>
                    <input id="red" name="color" type="radio" value="red"> <label for="red"><span class="red"></span></label> 
                    <input id="orange" name="color" type="radio" value="orange"> <label for="orange"><span class="orange"></span></label> 
                    <input id="yellow" name="color" type="radio" value="yellow"> <label for="yellow"><span class="yellow"></span></label> 
                    <input id="grey" name="color" type="radio" value="grey"> <label for="grey"><span class="grey"></span></label> 
                    <input id="blue" name="color" type="radio" value="blue"> <label for="blue"><span class="blue"></span></label> 
                    <input id="teal" name="color" type="radio" value="teal"> <label for="teal"><span class="teal"></span></label> 
                    <input id="green" name="color" type="radio" value="green"> <label for="green"><span class="green"></span></label>
                </div>
                <div id="submit">
                    <input type="submit" value="Save">
                </div>
            </form>
            <!--This is where the form ends-->
        </div>
    </div>
<!--New Card popup box ends here-->

<!--All the tasks will be in the tasks id-->
<div id="tasks">
    {% for note in notes %}
    <!--All the tasks have a class after their chosen color-->
    <div class="{{ note[2] }}" id="task">
        <span class="delete">
            {% if archive %}
            <!-- Permanently delete note -->
            <form action="{{url_for('main.deletenote')}}" method="post">
            {% else %}
            <!-- Archive the note. Can still be restored -->
            <form action="{{url_for('main.archivenote')}}" method="post">
            {% endif %}
            <input type="hidden" name="note_id" value="{{ note[3] }}">
            <button value="archive">
                <span class="delete"><i aria-hidden="true" class="fa fa-trash"></i></span>
            </button>
            </form>
        </span>
        <span class="edit">
            <input type="hidden" name="note_id" value="{{ note[3] }}">
            <button type="button" value="edit">
                <span class="edit"><i aria-hidden="true" class="fa fa-pencil"></i></span>
            </button>
        </span>
        <span class="title">{{ note[0] }}</span>
        <span class="message">{{ note[1] }}</span>
    </div>
    {% else %}
    {% if archive %}
    <div class="white" id="task">
        <span class="title">Archive is empty</span>
        <span class="message">Archived notes end up here. Don't worry, you can always restore archived notes!</span>
    </div>
    {% else %}
    <div class="white" id="task">
        <span class="title">No notes yet!</span>
        <span class="message">Try to add one :)</span>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}

</body>
</html>
