<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>To Do Login</title>
    <link href="{{ url_for('static', filename='css/style_login.css') }}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>
    {% if error %}<p><b>Error:</b> {{ error }}{% endif %}</p>
<!--Login form-->
    <form action="{{ url_for('main.login') }}" method="post">
        <h1>TodoList Login.<br>
        Fill in your credentials.</h1>
        <div id="inputs">
        <input placeholder="Username" required="" type="text" name="username">
        <input placeholder="Password" required="" type="password" name="password">
        </div>
        <input type="submit" name="Login">
    </form>
<!--Info at the bottom-->
<div id="info">
    <p>To Do made by <a href="https://bomban.no">Petter Bomban</a> and <a href="https://rosti.no">Rostislav Melkumyan</a></p>
</div>
</body>
</html>

