    {% include 'header.html' %}

    {% if session.logged_in %}
        {% if not archive %}
    <!--Add new card button-->
    <div id="button-container">
        <a href="#new"><button class="button">+</button></a>
    </div>
        {% endif %}
    
    <!--New Card popup box-->
    <div class="overlay" id="new">
        <div class="popup">
            <div id="title-new">
                <p>New note</p>
            </div>
                <!--X close icon-->
            <a class="close" href="#">&times;</a>
           <!--This is where the form starts-->
            <form action="{{ url_for('main.newnote') }}" method="post">
                <!--Card title-->
                <div id="title-on-card">
                    <input name="title" placeholder="Title" type="text" maxlength="200" required>
                </div>
                <!--Body text in card-->
                <div id="message-on-card">
                    <textarea input name="content" placeholder="What to do?" type="textarea"></textarea>
                </div>
                <!--Note colors-->
                <div id="colors">
                    <input id="white" name="color" type="radio" value="white" checked="checked"> <label for="white"><span class="white"></span></label>
                    <input id="red" name="color" type="radio" value="red"> <label for="red"><span class="red"></span></label> 
                    <input id="orange" name="color" type="radio" value="orange"> <label for="orange"><span class="orange"></span></label> 
                    <input id="yellow" name="color" type="radio" value="yellow"> <label for="yellow"><span class="yellow"></span></label> 
                    <input id="grey" name="color" type="radio" value="grey"> <label for="grey"><span class="grey"></span></label> 
                    <input id="blue" name="color" type="radio" value="blue"> <label for="blue"><span class="blue"></span></label> 
                    <input id="teal" name="color" type="radio" value="teal"> <label for="teal"><span class="teal"></span></label> 
                    <input id="green" name="color" type="radio" value="green"> <label for="green"><span class="green"></span></label>
                </div>
                <div id="submit">
                    <input type="submit" value="Save">
                </div>
            </form>
            <!--This is where the form ends-->
        </div>
    </div>
<!--New Card popup box ends here-->

<!--All the tasks will be in the tasks id-->
<div id="tasks">
    <div class="deleteall">
        <button>Delete all notes in archive</button>
        </div>
    {% for note in notes %}
    <!--All the tasks have a class after their chosen color-->
    <div class="{{ note[2] }}" id="task">
        <span class="delete">
            {% if archive %}
            <!-- Permanently delete note -->
            <form action="{{url_for('main.deletenote')}}" method="post">
            {% else %}
            <!-- Archive the note. Can still be restored -->
            <form action="{{url_for('main.archivenote')}}" method="post">
            {% endif %}
            <input type="hidden" name="note_id" value="{{ note[3] }}">
            <button value="archive">
                <span class="delete"><i aria-hidden="true" class="fa fa-trash"></i></span>
            </button>
            </form>
        </span>
        <span class="edit">
            {% if archive %}
            <!-- restore note -->
            <form action="{{ url_for('main.restorenote') }}" method="post">
            <button value="restore">
                <span class="edit"><i aria-hidden="true" class="fa fa-undo"></i></span>
            </button>
            {% else %}
            <!-- edit note -->
            <form action="{{ url_for('main.editnote') }}" method="post">
            <button value="edit">
                <span class="edit"><i aria-hidden="true" class="fa fa-pencil"></i></span>
            </button>
            {% endif %}
            <input type="hidden" name="note_id" value="{{ note[3] }}">
            </form>
        </span>
        <span class="title">{{ note[0] }}</span>
        <span class="message">{{ note[1]|safe }}</span>
    </div>
    {% else %}
        {% if archive %}
    <div class="white" id="task">
        <span class="title">Archive is empty</span>
        <span class="message">Archived notes end up here. Don't worry, you can always restore archived notes!</span>
    </div>
        {% else %}
    <div class="white" id="task">
        <span class="title">No notes yet!</span>
        <span class="message">Try to add one :)</span>
    </div>
        {% endif %}
    {% endfor %}
</div>
    {% endif %}

{% include 'footer.html' %}
